<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692010139678-2sdi9islvasc1sobb7p6c9heefn8skts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692010139678-2sdi9islvasc1sobb7p6c9heefn8skts</string>
	<key>API_KEY</key>
	<string>AIzaSyBlLVRyRrf4Og5EQqWYM2hbeu_2PGRGv-4</string>
	<key>GCM_SENDER_ID</key>
	<string>692010139678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busybe3.daejeon.busybe3daejeon</string>
	<key>PROJECT_ID</key>
	<string>busybe3-daejeon</string>
	<key>STORAGE_BUCKET</key>
	<string>busybe3-daejeon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692010139678:ios:ac3fba902b6f355d3f2e0f</string>
</dict>
</plist>